{% extends "base.html" %}

{% load static %}

{% block javascript %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static '/js/login.js' %}" defer></script>
{% endblock javascript %}
{% block content %}
  {% csrf_token %}
  <div style="display: flex;">
    <div style="padding-right: 20px">
      <video style="border: 5px solid;
                    margin: auto;
                    padding: 5px"
             autoplay="true"
             id="video-element">
      </video>
    </div>
    <div id="img-element" style="padding-right: 20px"></div>
    <div style="display: flex; flex-direction: column">
      <button class="btn btn-primary"
              id="capture-btn"
              style="height: 80px;
                     width: 200px;
                     margin: 10px;
                     position: relative">take a photo</button>
      <button class="btn btn-info"
              id="reload-btn"
              style="height: 80px;
                     width: 200px;
                     margin: 10px">reload</button>
      <input type="password"
             class="not-visible"
             id="input-pass"
             style="height: 30px;
                    width: 200px;
                    margin: 10px;
                    border-radius: 5px" />
      <button class="btn btn-primary not-visible"
              id="submit-btn"
              style="height: 80px;
                     width: 200px;
                     margin: 10px">Submit</button>
    </div>
  </div>
  <div class="not-visible" id="message-div">
    <h5 id="message"></h5>
  </div>
{% endblock content %}
